body {
	background-color: gray;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
    left: 0;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.column {
	float: center;
	width: 50%;
	padding: 15px;
	background-color: darkgray;
	border: 1px solid black;
}

.main {
	width: 70%;
	height: 70%;
}

.musicweek {
	width: 50%;
	height: 50%;
}